.main {
  background: #272727;
  min-height: 100vh;
}

.main h1 {
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.expo {
  
}

.hero {
  max-width: 984px;
  width: 100%;

  display: flex;
  align-items: center;

  margin: 128px auto;
  padding: 80px 0;

  border: 2px solid #272727;
}

.hero > div {
  flex: 1;
  flex-basis: 61.8%;
  padding: 0 80px;
}

.hero > div:first-child {
  flex-basis: 38.2%;
  border-right: 2px solid #272727;
}

.logo {
  margin: 0;
  text-align: right;
}

.backwards {
  display: inline-block;
  transform: rotateY(180deg);
}

.title {
  composes: fira-mono from global;

  position: relative;
  display: inline-block;  

  font-size: 16px;
  font-weight: 400;
  letter-spacing: .1rem;
}

.title::before {
  content: "";
  
  display: block;
  position: absolute;
  width: 12px;
  height: 48px;

  top: -12px;
  left: -28px;

  border: 1px solid #272727;
}

.title::after {
  content: "";

  display: block;
  position: absolute;
  
  width: 64px;

  bottom: -8px;
  right: -30px;

  border-top: 1px solid #272727;
}

.about {
  composes: fira-mono from global;

  line-height: 1.5;
  font-size: 14px;
  letter-spacing: 0.04rem;

  margin: 0;
}