.mainGrid {
  display: grid;
  max-width: 1480px;
  height: 100vh;
  margin: auto;
  padding: 0 24px;
  grid-template-columns: 1fr 4.5fr 3fr;
  grid-template-rows: 64px auto auto;
  gap: 24px;
  grid-template-areas:
    "Header      Header           Header"
    "Artist-Name Artwork-Display  Biography"
    "Artist-Name Gallery          Gallery";
}
.header { grid-area: Header; }
.artistName {
  grid-area: Artist-Name;
  position: relative;
}

/* biography */

.biography {
  grid-area: Biography;
  font-size: 16px;
  line-height: 1.61803399;
}

.biography p {
  margin: 0;
  margin-bottom: 1em;
}

/* Video */
.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Gallery artwork selection */

.gallery { grid-area: Gallery; }

.galleryArtistName {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;

  font-size: 56px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  transform-origin: center;
  text-align: center;
}

.galleryArtistName strong {
  margin-top: 1rem;
  font-weight: 600;
}

.galleryArtworks {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -4px;
  width: 100%;
}

.galleryItem {
  width: 72px;
  height: 72px;
  margin: 8px;
  overflow: hidden;

  cursor: pointer;
  background-color: #b2b2b2;
  background-size: 100%;
  background-position: center;
  border-radius: 2px;
  box-shadow:
  0 2px 4px -2px rgba(0,0,0,.1),
  0 4px 8px -4px rgba(0,0,0,.1);

  transition: all 95ms ease-out;
  transform: scale(1);
  opacity: .7;
}

.galleryItem:hover,
.galleryItem:focus {
  opacity: 1;
}

.galleryItemActive {
  opacity: 1;
  transform: scale(1.05);
  box-shadow:
  0 2px 4px -1px rgba(0,0,0,.1),
  0 4px 8px -2px rgba(0,0,0,.1),
  0 8px 16px -4px rgba(0,0,0,.1),
  0 16px 32px -8px rgba(0,0,0,.1);
}

/* Artwork display */

.artworkDisplaySection {
  grid-area: Artwork-Display;
}

.artworkDisplay {
  display: flex;
  align-items: center;
}

.artworkDisplay img {
  display: block;
  width: 100%;
  cursor: pointer;
}

.artworkPlaceholder {
  display: block;
  height: 0;
  width: 100%;
  background-color:  #b2b2b2;
  padding-bottom: 100%;
}

.artworkInfo {
  font-size: 14px;

  margin-top: 72px;
  margin-bottom: 120px;
}

.artworkInfo span {
  display: flex;
}

.artworkInfo dt {
  font-weight: 600;
  width: 144px;
}
.artworkInfo dt,
.artworkInfo dd {
  margin: 8px 0;
}
