.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, .4);
  z-index: 1000;

  opacity: 0;
  transition: all 2s ease;
}

.modalTransition {
  transition: opacity 195ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalExited,
.modalEntering,
.modalExiting {
  opacity: 0;
}
.modalEntered {
  opacity: 1;
}


.modalContent {
  height: calc(100vh - 32px);
  max-height: 728px;
  width: 100%;
  max-width: 1152px;

  background: linear-gradient(#444, #333);;
  border-radius: 16px;
  box-shadow:
  0 2px 4px -1px rgba(0, 0, 0, .1),
  0 4px 8px -2px rgba(0, 0, 0, .1),
  0 8px 16px -4px rgba(0, 0, 0, .1),
  0 16px 32px -8px rgba(0, 0, 0, .1),
  0 32px 64px -16px rgba(0, 0, 0, .1);
}

.modalContentTransition {
  transition: transform 275ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalContentExited,
.modalContentEntering,
.modalContentExiting {
  transform: scale(0.95) translateY(64px);
}
.modalContentEntered {
  transform: scale(1) translateY(0);
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;


  pointer-events: none;
}

.controls > * {
  pointer-events: all;
}

.dismiss,
.controlsPrevious,
.controlsNext {
  height: 48px;
  width: 48px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.05);
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  transition: all 195ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dismiss {
  position: absolute;
  top: 0;
  right: 0;
}

.dismiss:focus,
.dismiss:hover,
.controlsPrevious:focus,
.controlsPrevious:hover,
.controlsNext:focus,
.controlsNext:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.slide {
  height: 100%;
  width: 100%;
}

.slide figure {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.activeSlideData {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 8px 0;
  text-align: center;
}

.activeSlideDataContent {
  composes: fira-mono from global;

  display: inline-block;
  padding: 4px 12px;
  margin: 0;

  background: rgba(0,0,0,0.3);
  border-radius: 2px;
  color: white;
  font-size: 13px;
  font-weight: 600;
}