.wrapper {
  display: flex;
  align-items: stretch;
}

.matrix {
  display: block;
}

.matrixRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matrixItem {
  color: #fff;
  flex: 1 1 100%;
  height: 0;
  position: relative;
}

@media screen and (max-width: 576px) {
  .matrixItem {
    padding-top: 50%;
  }
}

@media (min-width: 577px) and (max-width: 1200px) {
  .matrixItem {
    padding-top: 33.3333%;
  }
}

@media screen and (min-width: 1201px) {
  .matrixItem {
    padding-top: 25%;
  }
}

.matrixItemContent {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.abstraction {
  composes: merriweather from global;

  background-color: #272727;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;

  box-shadow:
  inset 0px 0px 0px 8px #272727,
  inset 0px 0px 0px 10px #fff;

  font-size: 3.6vw;
}

.south {
  composes: merriweather from global;

  background-color: #272727;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 16px;

  box-shadow:
  inset 0px 0px 0px 8px #272727,
  inset 0px 0px 0px 10px #fff;

  font-size: 9vw;
}

.south > span:first-child {
  transform: rotateY(180deg);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  padding: 16px;

  /* background-color: #fff; */
  box-shadow:
  inset 0px 0px 0px 8px #272727,
  inset 0px 0px 0px 10px #fff;
}

.link {
  composes: fira-mono from global;

  padding: 8px 12px;

  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 375ms cubic-bezier(0.23, 1, 0.320, 1) 95ms;
}

.link:hover {
  letter-spacing: 1.15rem;
}
