@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #272727;
	font-family: 'Raleway', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

:global .raleway {
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.03rem;
}

:global .space-mono {
	font-family: 'Space Mono', 'Courier New', Courier, monospace;
}

:global .fira-mono {
	font-family: 'Fira Mono', 'Courier New', Courier, monospace;
}