@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #272727;
  background: #e0e0e0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.lockscroll {
  overflow: hidden;
}

.container {
  margin: auto;
  width: 100%;
  padding: 32px 0;
  max-width: 1212px;
}

.glitch {
  color: white;
  position: relative;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(61px, 9999px, 71px, 0);
  }
  5% {
    clip: rect(8px, 9999px, 2px, 0);
  }
  10% {
    clip: rect(83px, 9999px, 10px, 0);
  }
  15% {
    clip: rect(18px, 9999px, 88px, 0);
  }
  20% {
    clip: rect(73px, 9999px, 30px, 0);
  }
  25% {
    clip: rect(23px, 9999px, 98px, 0);
  }
  30% {
    clip: rect(9px, 9999px, 86px, 0);
  }
  35% {
    clip: rect(47px, 9999px, 46px, 0);
  }
  40% {
    clip: rect(9px, 9999px, 97px, 0);
  }
  45% {
    clip: rect(78px, 9999px, 14px, 0);
  }
  50% {
    clip: rect(6px, 9999px, 23px, 0);
  }
  55% {
    clip: rect(50px, 9999px, 63px, 0);
  }
  60% {
    clip: rect(66px, 9999px, 33px, 0);
  }
  65% {
    clip: rect(43px, 9999px, 29px, 0);
  }
  70% {
    clip: rect(99px, 9999px, 3px, 0);
  }
  75% {
    clip: rect(40px, 9999px, 68px, 0);
  }
  80% {
    clip: rect(50px, 9999px, 91px, 0);
  }
  85% {
    clip: rect(45px, 9999px, 35px, 0);
  }
  90% {
    clip: rect(93px, 9999px, 3px, 0);
  }
  95% {
    clip: rect(61px, 9999px, 41px, 0);
  }
  100% {
    clip: rect(47px, 9999px, 83px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: #272727;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(12px, 9999px, 88px, 0);
  }
  5% {
    clip: rect(46px, 9999px, 60px, 0);
  }
  10% {
    clip: rect(48px, 9999px, 31px, 0);
  }
  15% {
    clip: rect(7px, 9999px, 11px, 0);
  }
  20% {
    clip: rect(75px, 9999px, 75px, 0);
  }
  25% {
    clip: rect(10px, 9999px, 69px, 0);
  }
  30% {
    clip: rect(74px, 9999px, 99px, 0);
  }
  35% {
    clip: rect(81px, 9999px, 88px, 0);
  }
  40% {
    clip: rect(68px, 9999px, 17px, 0);
  }
  45% {
    clip: rect(43px, 9999px, 97px, 0);
  }
  50% {
    clip: rect(50px, 9999px, 87px, 0);
  }
  55% {
    clip: rect(58px, 9999px, 21px, 0);
  }
  60% {
    clip: rect(71px, 9999px, 34px, 0);
  }
  65% {
    clip: rect(58px, 9999px, 56px, 0);
  }
  70% {
    clip: rect(50px, 9999px, 84px, 0);
  }
  75% {
    clip: rect(28px, 9999px, 43px, 0);
  }
  80% {
    clip: rect(11px, 9999px, 73px, 0);
  }
  85% {
    clip: rect(6px, 9999px, 33px, 0);
  }
  90% {
    clip: rect(45px, 9999px, 4px, 0);
  }
  95% {
    clip: rect(3px, 9999px, 91px, 0);
  }
  100% {
    clip: rect(32px, 9999px, 3px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: #272727;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
