.grid {
  display: flex;
  flex-wrap: wrap;
}

.item {
  overflow: hidden;
  height: 0;
  position: relative;
  flex: 0 0 100%;
  padding-top: 100%;
}

.content {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 480px) {
  .item {
    flex-basis: 50%;
    padding-top: 50%;
  }
}

@media screen and (min-width: 900px) {
  .item {
    flex-basis: 33.333%;
    padding-top: 33.333%;
  }
}

@media screen and (min-width: 1200px) {
  .item {
    flex-basis: 25%;
    padding-top: 25%;
  }
}