.container {
  font-size: 14px;
  line-height: 1.61803399;

  margin: 0;
  margin-left: 100px;
  padding: 0 16px;
  width: auto;
}

.presentation {
  max-width: 616px;
}

.fondart {
  display: block;
  width: 160px;
  opacity: 0.7;
  margin-right: 16px;
}

.title {
  margin: 16px 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.subtitle {
  margin: 16px 0;
  font-size: 14px;
  font-weight: 500;
}

.team dt {
  text-transform: uppercase;
  font-size: 12px;
  color: #7f7f7f;
}
.team dd {
  margin: 0;
  margin-bottom: 16px;
}

.list {
  list-style: none;
  padding: 0;
}

.listCols {
  composes: list;

  columns: 3;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
  }

  .listCols {
    columns: 2;
  }
}

@media screen and (max-width: 576px) {
  .listCols {
    columns: 1;
  }
}